.parallax{
  background-image: url('https://cdn.pixabay.com/photo/2018/01/06/07/53/social-3064515_960_720.jpg');
min-height: 400px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
