<div class="container mb-5">
  <h1 class="mt-5 mb-5">Entre em contato conosco</h1>
<form class="row g-3">

  <div class="form-group">
    <label for="exempleFormControlInput1">Nome</label>
    <input type="text" class="form-control" id="Nome" placeholder="escreva o nome">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="name@exemple.com">
  </div>

  <div class="form-group">
    <label for="mensagem">mensagem</label>
    <textarea class="form-control" id="mensagem" rows="3"></textarea>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
</div>
